{% extends 'base.html' %}
{% load static %}

<!-- linkeo al css local -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/add_hora.css' %}">
{% endblock %}

{% block contenido %}
<!-- formulario que revisa el archivo-->
    <form method="POST" id="add" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <br>
        <button type="submit" class="btn btn-primary">Editar</button>
    </form>
{% endblock %}

{% block js %}
<!-- Local JS -->
<script src="#"></script>
{% endblock %}