{% extends 'base.html' %}
{% load static %}

<!--acceso al css local-->
{% block css %}
<link rel="stylesheet" href="{% static 'css/listar_medico.css' %}">
{% endblock %}

{% block contenido %}
<br>

<h2>Agendas Médicos</h2>
<br>
<div class="line"></div>
<br>
<br>
{% for m in medicos %}
<div class="flex-container">
    <a class="button" id="button" href="{% url 'listar_hora' m.id%}">{{ m.primerNombre }} {{ m.primerApellido }} - {{m.especialidad}}</a>
</div>
<br>
<br>
{% endfor %}
<br>

<br><br><br><br>
{% endblock %}

<!--acceso al JS local-->
{% block js %}
<script src="#"></script>
{% endblock %}