{% extends 'base.html' %}
{% load static %}

<!--acceso al css local-->
{% block css %}
<link rel="stylesheet" href="#">
{% endblock %}

{% block contenido %}
    
    <h2>Horas Disponibles</h2>

    <form action="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group col-12">
            <label for="medico">Médico</label>
            <select name="medico" id="medico">
                <option selected="selected">Seleccione un Médico</option>
                {% for m in medicos %}
                <option value="{{ m.id }}">{{ m.primerNombre }} {{ m.primerApellido }} </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Filtrar por medico</button>
    </form>

    {% for c in horas %}
        <div class="item">
            <div class="d1">
                <p class="name">{{ c.fecha }}</p> 
            </div>
            <div class="d1">
                <p class="name">{{ c.hora }}</p> 
            </div>
            <div class="d1">
                <p class="name">{{ c.valor }}</p> 
            </div>
            <div class="d1">
                <p class="name">{{ c.medico }}</p> 
            </div>
            <div class="d4" id="d4">
                <a class="btn btn-primary" href="{% url 'editar_hora' c.id%}">Editar</a>
            </div>
            <div class="d4" id="d4">
                <a class="btn btn-primary" href="{% url 'borrar_hora' c.id%}">Borrar</a>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}

<!--acceso al JS local-->
<!-- {% block js %}
    <script src="{% static 'cats/js/btn-copiar.js' %}"></script>
{% endblock %} -->