{% extends 'base.html' %}
{% load static %}

<!--acceso al css local-->
{% block css %}
<link rel="stylesheet" href="{% static 'css/horas_disp.css' %}">
{% endblock %}

{% block contenido %}
<br>

<h2>Agendas Médicos</h2>
<br>
{% for m in medicos %}
<aside id="aside-{{ m.id }}">
    <button>
        <a href="{% url 'listar_hora' m.id%}">{{ m.primerNombre }} {{ m.primerApellido }}</a> </button>
</aside>
{% endfor %}
<br>

<br><br><br><br>
{% endblock %}

<!--acceso al JS local-->
{% block js %}
<script src="#"></script>
{% endblock %}